.wrapper {
  padding-top: 24px;
}

.container {
  margin-bottom: 32px;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.planetImg {
  min-width: 300px;
  background: url("/assets/img/planet.png") no-repeat center;
  background-size: contain;
}

.vehicleImg {
  min-width: 300px;
  background: url("/assets/img/vehicles.png") no-repeat center;
  background-size: contain;
}

.starshipImg {
  min-width: 300px;
  background: url("/assets/img/starships.png") no-repeat center;
  background-size: contain;
}