body {
    background: black;
    color: white;
}

.container {
    max-width: 750px;
    margin: 0 auto;
    padding: 15px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 16px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 16px;
}

a{
    text-decoration: none !important;
}

.link {
    width: fit-content;
    padding: 6px 8px;
    display: block;
    margin: 8px auto;
    background: white;
    text-transform: uppercase;
    color: darkred;
    border-radius: 6px;
    font-family: Arial;
}

.page-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.refresh-button{
    margin-left: 20px;
    height: 20px;
    width: 20px;
    background: url("assets/img/refresh.svg") 100% no-repeat;
    background-size: contain;
    cursor: pointer;
}

